<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Register and Login</title>
  <link rel="stylesheet" href="register.css">
</head>
<body>
  <div class="container">
    <h2>Register</h2>
    <form method="post" action="http://127.0.0.1:5000/register">
      <label>Username:</label>
      <input type="text" name="username" required>

      <label>Email:</label>
      <input type="email" name="email" required>

      <label>Password:</label>
      <input type="password" name="password" required>

      <button type="submit">Register</button>
    </form>

    <hr>

    <h2>Login</h2>
    <form method="post" action="/login">
      <label>Username:</label>
      <input type="text" name="username" required>

      <label>Password:</label>
      <input type="password" name="password" required>

      <button type="submit">Login</button>
    </form>
  </div>
</body>
</html>
